:root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: azure;
}

body {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  
}

/* This is the root identifier that react uses to render and it is inside the body tag */
#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* This bodyDiv class is in a div that works as my new artificial body */
.bodyDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100dvh;
  max-width: 100dvw;
}

.navbar{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 100px;
  padding-left: 20px;
  margin: 0px;
  /*Border style, first value is top, second value is right, third value is bottom, fourth is left*/
  border-style: none none solid none;
  border-bottom-width: 1px;
  background-color: rgb(221, 153, 104);
}

.navbar button{
  border: none;
  margin-left: 10px;
  margin-right: 10px;
  height: 100%;
  padding-left: 40px;
  padding-right: 40px;
  background-color: transparent;
}

.content {
  margin: 20px;
  padding: 40px;
  /* Flex grow is working as height in here */
  flex-grow: 1;
  width: auto;
  border-style: solid;
  border-width: 1px;
  background-color: rgb(135, 228, 228);
}

.footer {
  height: 100px;
  padding: 20px 40px 20px 40px;
  border-style: solid;
  border-width: 1px;
  background-color: rgb(221, 153, 104);
}

.gallery {
  height: auto;
  width: 100%;
  padding: 40px;
}

ul {
  list-style-type: none;
}



h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}

p {
  
}

/* code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
} */

.card{
    border:1px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
    padding: 20px;
    margin: 10px;
    text-align: center;
    max-width: 250px;
    display: flex;
    flex-direction: column;
}

.card .card-image{
    max-width: 60%;
    height: auto;
    border-radius: 0px;
    margin-bottom: 10px;
}

/* code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
} */
